
<section class="slides">
  <!-- Image Section -->
  <section class="slide">
    @if(IsEmpty){
      <img src="https://media.istockphoto.com/id/1409329028/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=_zOuJu755g2eEUioiOUdz_mHKJQJn-tDgIAhQzyeKUQ=" alt="image not found">
    }
    @else{
      <img [src]="slides[currentSlide].url" [alt]="slides[currentSlide].caption">
    }
  
</section>
  <section id="indicators">
    <!-- Indicator slides -->
    @for(slide of slides; track $index; ){
    <section
      (click)="jumpToSlide($index)"
      class="indicator"
      [ngClass]="{ active: $index == currentSlide }"
    ></section>
    }
  </section>
  <!-- Button for next -->
  <button (click)="next()" class="nextButton">
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </button>
  <!-- Button for previous -->
  <button (click)="previous()" class="previousButton">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </button>
</section>

<!-- Caption of image -->
<section class="caption">{{slides[currentSlide].caption?slides[currentSlide].caption:"No Image Caption"}}</section>