:host {
  display: block;
  width: 100%;

  // Slides container styling
  .slides {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    .slide {
      width: 100%;
      height: 100%;
      position: relative;

      img{
        width: 100%;
        height: 100%;
      }

    }

    // Button Styling for next and previous
    .nextButton,
    .previousButton {
      position: absolute;
      top: 50%;
      border: 0px;
      background-color: transparent;
      font-size: 30px;
      color: #fff;
    }
    .nextButton {
      right: 20px;
    }
    .previousButton {
      left: 20px;
    }

    // Indictor styling
    #indicators {
      position: absolute;
      left: 0px;
      right: 0px;
      margin: auto;
      bottom: 20px;
      width: 200px;
      .indicator {
        width: 20px;
        height: 5px;
        border-radius: 20%;
        background-color: #dad4d4;
        display: inline-block;
        margin: 0px 5px;
        cursor: pointer;
        transition: background-color 0.8s ease-in-out;

        &.active {
          background-color: #fff;
        }
      }
    }
  }
  // Caption Image
  .caption{
    position:relative;
    bottom: 10vh;
    left:37vw;
    font-size: 20px;
    z-index: 99;
    color: white;
  }
}
